{% extends 'base.html' %}

{% block pagetitle %}About{% endblock %}

{% block title %}About{% endblock %}

{% block primary %}
<p>Hi I'm Matt!</p>
<p>Right now these are my interests:</p>
<ul>
	<li>Programming, mostly in python</li>
	<li>Linux,Apache, and SQL</li>
	<li>Reading Biographies</li>
	<li>Doctor Who</li>
	<li>Listening to the Boss</li>
</ul>
<p>Feel free to contact me on <a href = "https://www.facebook.com/matt.sheehan.31">Facebook</a>, <a href = "http://www.linkedin.com/pub/matt-sheehan/59/92/4b2">LinkedIn</a>, or <a href = "mailto:sheehamj@mountunion.edu">Email</a>.

{% endblock %}
